<h1>ユーザー一覧</h1>
<div>
  <% @users.each do |user| %>
    <div>
      <%= image_tag user.image %>
      <div>
        <p><%= link_to user.name, user %></p>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-center">
    <%= paginate @users %>
  </div>
</div>
