<% if comments.empty? %>
  <div class="d-flex justify-content-center mb-3">
    <div class="border-bottom border-bottom-5 m-4 px-4">
      <p class="mb-1 p-0">最近のコメントはありません</p>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-12">
      <div id="new_comment_card"></div>

      <% comments.each do |comment| %>
        <%= render 'shared/comment_card', comment: %>
      <% end %>
    </div>
  </div>
<% end %>
