<% comments = recent_comments(commentable, comment_count: 3) %>

<div class="d-flex justify-content-center">
  <div class="col-lg-6 col-md-8 col-12">
    <h2 class="rounded fs-5 fw-semibold border-start border-5 bg-secondary-subtle border-primary p-2 mb-2">コメント</h2>
    <p>気軽にいいねやコメントで交流しよう！</p>
  </div>
</div>

<% if comments.present? %>
  <div class="text-center mb-3">
    <%= link_to 'もっと見る', comment_index_url(commentable), class: 'btn btn-outline-secondary py-2' %>
  </div>
<% end %>

<div id="comments">
  <%= render 'shared/comments', comments: %>
</div>
