<% if tasks.empty? %>
  <div class="d-flex justify-content-center mb-3">
    <div class="border-bottom border-bottom-5 m-4 px-4">
      <p class="mb-1 p-0">最近のタスクはありません</p>
    </div>
  </div>
<% else %>
  <div class="d-flex justify-content-center">
    <div class="col-lg-6 col-md-8 col-12">
      <div id="new_task_card"></div>

      <% tasks.each do |task| %>
        <%= render 'goals/tasks/task_card', task:, is_tasks_path: true %>
      <% end %>
    </div>
  </div>
<% end %>
