<% if resource.errors.any? %>
  <div class="text-danger">
    <h2 class="fs-5"><%= "#{resource.errors.count}件のエラーがあるため、\nこの#{resource.class.model_name.human.downcase}は保存できませんでした" %></h2>

    <ul>
      <% resource.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
