<h1>パスワードを再設定する</h1>

<p>下記リンクから再設定してください:</p>

<%= link_to "再設定する", edit_companies_password_url(@company.reset_token,
                                                    email: @company.email) %>

<p>このメールが有効なのは2時間までです</p>
