<% content_for(:title, '目標一覧') %>

<div class="d-sm-flex flex-sm-column flex-md-row justify-content-between mb-3">
  <div>
    <h1 class="fs-2">みんなの目標</h1>
  </div>
</div>

<hr class="mb-4">

<div class="text-center mb-4">
  <%= link_to '目標を作成する', new_goal_path, class: 'btn btn-outline-secondary' %>
</div>

<%= render 'shared/goals', goals: @goals %>

<div class="d-flex justify-content-center">
  <%= paginate @goals %>
</div>
