<% content_for(:title, '目標作成') %>

<div class="d-sm-flex flex-sm-column flex-md-row justify-content-between mb-3">
  <h1 class="fs-2">目標を作成する</h1>
</div>

<hr class="mb-4">

<%= render 'form', goal: @goal %>
