@import "bootstrap";

.form-control::placeholder {
  color: #817f7f;
}

.wrapper {
  min-height: calc(100vh - 100px);
}

footer {
  width: 100%;
  height: 95px;
  background: #44aa33;
}

.dropdown-notifications {
  width: 280px !important;
}

.bg-completed {
  background-color: #4cae7d;
}

.status-circle {
  width: 65px !important;
  height: 65px !important;
}

.hover-bg-change {
  background-color: white;
}

.hover-bg-change:hover {
  background-color: rgb(229, 231, 235);
}

.link-dark:hover .hover-underline {
  text-decoration: underline;
  text-underline-offset: 0.3ex;
}
