<div class="ms-auto me-4">
  <div class="dropdown">
    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-bell fa-lg"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start overflow-x-auto dropdown-notifications">
      <% notifications.each do |notification| %>
        <div class="hover-bg-change p-3">
          <p>
            <%= link_to notification.content, notification_path(notification), class: 'link-dark link-offset-2 text-decoration-none' %>
          </p>
        </div>
      <% end %>
      <p class="hover-bg-change text-center py-3"><%= link_to 'すべての通知を見る', notifications_path, class: 'link-dark link-offset-2 text-decoration-none' %></p>
    </div>
  </div>
</div>
