<div class="ms-auto me-4">
  <div class="dropdown">
    <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-bell fa-lg"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start overflow-x-auto dropdown-notifications">
      <% notifications.each do |notification| %>
        <%= link_to notification_path(notification), class: 'link-dark link-offset-2 text-decoration-none' do %>
          <div class="hover-bg-change p-3">
            <%= notification.content %>
          </div>
        <% end %>
      <% end %>
      <%= link_to notifications_path, class: 'link-dark link-offset-2 text-decoration-none' do %>
        <p class="hover-bg-change text-center py-3">すべての通知を見る</p>
      <% end %>
    </div>
  </div>
</div>
